In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
import sklearn

In [37]:
#specify data types
#acceleration to volleys have + and - after the numbers, so must be imported as string and then split,
#wage and value has characters after the number
dtype = {"Name":str, "Age":int, "Photo":str, "Nationality":str, "Flag":str, "Overall":int, "Potential":int, 
         "Club":str, "Club Logo":str, "Value":str, "Wage":str, "Special":int, "Acceleration":str, "Aggression":str, 
         "Agility":str, "Balance":str, "Ball control":str, "Composure":str, "Crossing":str, "Curve":str, "Dribbling":str, 
         "Finishing":str, "Free kick accuracy":str, "GK diving":str, "GK handling":str, "GK kicking":str, 
         "GK positioning":str, "GK reflexes":str, "Heading accuracy":str, "Interceptions":str, "Jumping":str, 
         "Long passing":str, "Long shots":str, "Marking":str, "Penalties":str, "Positioning":str, "Reactions":str, 
         "Short passing":str, "Shot power":str, "Sliding tackle":str, "Sprint speed":str, "Stamina":str, 
         "Standing tackle":str, "Strength":str, "Vision":str, "Volleys":str, "CAM":float, "CB":float, "CDM":float, "CF":float, 
         "CM":float, "ID":float, "LAM":float, "LB":float, "LCB":float, "LCM":float, "LDM":float, "LF":float, "LM":float, 
         "LS":float, "LW":float, "LWB":float, "Preferred Positions":str, "RAM":float, "RB":float, "RCB":float, "RCM":float, 
         "RDM":float, "RF":float, "RM":float, "RS":float, "RW":float, "RWB":float, "ST":float}

completedata = pd.read_csv("CompleteDataset.csv", dtype = dtype)
completedata.shape

(17981, 75)

In [67]:
#select only variables of interest - we have chosen wage, player value, potential, stamina, speed and freekick accuracy
data = completedata.loc[:,["Wage", "Value", "Potential", "Stamina", "Sprint speed", "Free kick accuracy"]]
data.head()

    Wage   Value  Potential Stamina Sprint speed Free kick accuracy
0  €565K  €95.5M         94      92           91                 76
1  €565K   €105M         93      73           87                 90
2  €280K   €123M         94      78           90                 84
3  €510K    €97M         92      89           77                 84
4  €230K    €61M         92      44           61                 11

In [68]:
#drop euros and change K and M to zeros for value and wage categories, 
#if converting to float it is NM to drop the full stop, otherwise the trailing digits are seen as decimals

#TODO fix this 
def toNumberCurrency(column):
    column = column.map(lambda x: x.replace("€",""))\
    .map(lambda x: x.replace("€",""))\
    .map(lambda x: x.replace("K","000"))\
    .map(lambda x: x.replace("M","000000"))
    return(column)

data.Wage = toNumberCurrency(data["Wage"])
data.Value = toNumberCurrency(data["Value"])
data[["Wage", "Value"]].head()

     Wage       Value
0  565000  95.5000000
1  565000   105000000
2  280000   123000000
3  510000    97000000
4  230000    61000000

In [36]:
#split str on + and _
strvalues = ["Free kick accuracy", "GK diving", "GK handling", "GK kicking", 
         "GK positioning", "GK reflexes", "Heading accuracy", "Interceptions", "Jumping", 
         "Long passing", "Long shots", "Marking", "Penalties", "Positioning", "Reactions", 
         "Short passing", "Shot power", "Sliding tackle", "Sprint speed", "Stamina", 
         "Standing tackle", "Strength", "Vision", "Volleys"]

def splitvalues(column):
    completedata[column], completedata['Modifier'] = completedata[column].str.split('+', 1).str
    return completedata[column]
    
for string in strvalues:
    completedata[string] = splitvalues(string)

completedata.head()

,Unnamed: 0,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST,Modifier
0,0,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,...,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0,NaN
1,1,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,...,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0,NaN
2,2,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,https://cdn.sofifa.org/24/18/teams/73.png,...,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0,NaN
3,3,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,...,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0,NaN
4,4,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
#select smaller data set
#examine null values

In [22]:
#histograms and scatterplots
#min, max, average

In [43]:
#remove outliers and missing values if needed

In [ ]:
#log wage and add small constant

In [25]:
#standardise predictor variables

In [26]:
#multiple regression
# get all of the predictor variable in one dataframe without the outcome variable
#df = pd.DataFrame(data.data, columns=data.feature_names)

# Put the target (log of wage) in another DataFrame
#target = pd.DataFrame(data.target, columns=["logWage"])

#specify variables
#X = df #predictor variables
#y = target[“logWage] #outcome

#fit model
#lm = linear_model.LinearRegression()
#model = lm.fit(X,y)

#get predicted y values
#predictions = lm.predict(X)

#get R squared
#lm.score(X,y)


#see regression coefficients
#lm.coef_
#lm.intercept_

In [ ]:
#get regression diagnostics

#E.g. get average difference between observed Y and predicted Y
#get scatterplot of predicted Y vs residuals